body {
  display: flex;
  justify-content: center;
}

.infoSection {
  background-color: white;
}

.aboutSection {
  background-color: rgb(140, 168, 38);
  width: 15rem;
}
img {
  max-height: 100%;
  max-width: 100%;
}

#name-job-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#button-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
