body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.infoSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #1a1b21;
  color: white;
  padding-top: 0%;
}

h2 {
  padding: 0;
  margin: 0;
}
h1 {
  padding: 0;
  margin: 0;
}

#name-job-section > h2 {
  color: #f3bf99;
  /* padding: 0; */
}

img {
  max-height: auto;
  max-width: auto;
}

#name-job-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

#button-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: auto;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/* 
.linkedin-butt {
  background-color: #5093e2;
  width: 115px;
  height: 34px;
  left: 283px;
  top: 468px;
  color: aquamarine;
} */

#button-section > button {
  background-color: white;
  width: 150px;
  height: 34px;
  left: 283px;
  top: 468px;
  color: black;
  border: none;
  margin-right: 20px;
  border-radius: 2px;
}

#button-section > a > button {
  background-color: #5093e2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  color: #fff;
  text-decoration: none;
  border: none;

  width: 150px;
  height: 34px;
  left: 283px;
  top: 468px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
#button-section > img {
  /* width: 5px;
  height: 25px; */
}

#linkedin-logo {
  background-color: #fff;
}

#headshot {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
