body {
  display: flex;
  justify-content: center;
}

.infoSection {
  background-color: white;
}

.aboutSection {
  background-color: rgb(140, 168, 38);
  width: 15rem;
}
img {
  max-height: 100%;
  max-width: 100%;
}

#name-job-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#button-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
